<div class="container d-lg-flex justify-content-center mt-5">
    <div class="col-lg-6">
        <h1 class="fw-bold text-uppercase text-info text-center">login</h1>
        <p class="h5 mt-3 text-center"><small class="text-body-secondary">Please login below.</small></p>
        <form [formGroup]="loginForm" class="mt-5" (ngSubmit)="loginForm.valid && login()">
            <div class="mb-3">
                <app-text-input [formControl]="$any(loginForm.controls['username'])"
                    [label]="'Username'"></app-text-input>
            </div>
            <div class="mb-3">
                <app-text-input [formControl]="$any(loginForm.controls['password'])" [label]="'Password'"
                    [type]="'password'"></app-text-input>
            </div>
            <div class="text-center mt-5">
                <button [disabled]="!loginForm.valid" class="btn btn-info text-white fw-bold me-4"
                    type="submit">Login</button>
                <button class="btn btn-secondary" type="button" routerLink="/">Cancel</button>
            </div>
        </form>
    </div>
</div>